In [67]:
from sklearn.linear_model import (
    LinearRegression,
    Ridge,
    Lasso,
    Huber,
    TheilSenRegressor,
    RANSACRegressor
)
from sklearn.model_selection import (
    train_test_split,
    cross_val_score,
    KFold
)
from sklearn.metrics import (
    mean_absolute_error as MAE,
    root_mean_squared_error as RMSE,
    mean_squared_error as MSE,
    median_absolute_error as MdAE,
    r2_score as R2
)
from sklearn.pipeline import Pipeline 
from sklearn.preprocessing import LabelEncoder, OneHotEncoder

import pandas as pd
import numpy as np

In [77]:
df = pd.read_csv("data_for_model.csv", delimiter=';', header=None)
df.columns = ['ID', 'TerritoryName', 'TerritoryGroup', 'CountryRegionCode', 'ShipMethodName', 'TotalUnits', 'Avg_StdCost', 'TotalDue']
df

,ID,TerritoryName,TerritoryGroup,CountryRegionCode,ShipMethodName,TotalUnits,Avg_StdCost,TotalDue
0,43659,Southeast,North America,US,CARGO TRANSPORT 5,26,1120.2741,23153.2339
1,43660,Southeast,North America,US,CARGO TRANSPORT 5,2,685.7074,1457.3288
2,43661,Canada,North America,CA,CARGO TRANSPORT 5,38,883.0531,36865.8012
3,43662,Canada,North America,CA,CARGO TRANSPORT 5,54,619.8741,32474.9324
4,43663,Southwest,North America,US,CARGO TRANSPORT 5,1,486.7066,472.3108
...,...,...,...,...,...,...,...,...
31460,75119,Northwest,North America,US,XRQ - TRUCK GROUND,3,5.2709,46.7194
31461,75120,Canada,North America,CA,XRQ - TRUCK GROUND,3,18.9050,93.8808
31462,75121,Canada,North America,CA,XRQ - TRUCK GROUND,3,9.3475,82.8529
31463,75122,Canada,North America,CA,XRQ - TRUCK GROUND,2,7.5714,34.2219
31464,75123,Canada,North America,CA,XRQ - TRUCK GROUND,3,24.8696,209.9169

In [78]:
df = pd.get_dummies(df, columns = ['TerritoryName', 'TerritoryGroup', 'CountryRegionCode', 'ShipMethodName'])

In [108]:
X = df.drop(columns=['ID', 'TotalDue'])
y = df['TotalDue']

In [81]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42, test_size=0.3)

In [90]:
df['TotalDue'].mean()

3915.9951093564277

In [106]:
avg_model = pd.Series([df['TotalDue'].mean()] * y_test.shape[0])

In [83]:
linear = LinearRegression()

linear.fit(X_train, y_train)
y_pred = linear.predict(X_test)
MAE(y_test, y_pred), RMSE(y_test, y_pred)

(1895.8360173231658, 5830.022432119296)

In [105]:
ridge = Ridge()

ridge.fit(X_train, y_train)
y_predr = ridge.predict(X_test)
MAE(y_test, y_predr), RMSE(y_test, y_predr)

(1895.7817785816728, 5830.055481408535)

In [107]:
MAE(y_test, avg_model), RMSE(y_test, avg_model)

(5143.881506914797, 12788.722253855825)